@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

body{
  margin:0px; 
  padding:0px;
  height: 100%;
  font-family: 'Roboto';
  letter-spacing: .15em;
  background: radial-gradient(rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.8) 0%),
    radial-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 0%),url("https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/168582_1799937840757_1993280_n.jpg?oh=a42a7f3a3c2e2adfd4b4251b227d8d0b&oe=54CE1B5E&__gda__=1422568567_0892b8fef7d2ef282f72cae749da7a2d") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


nav {
  z-index: 99;
  padding: 15px 0 0 0;
  margin: 0;
  color: white;
  list-style: none;

  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;

  a {
    text-decoration:none;
  }
}

.flex-item {
  font-weight: bold;
  font-size: .750rem;
  text-align: center;
  font-family: 'Roboto';
  letter-spacing: .15em;
}

.flex-item:nth-of-type(2),  
.flex-item:nth-of-type(3),  
.flex-item:nth-of-type(4) { 
  padding-top: 8px;

  a{
    color:#3399FF;
  }
}

.flex-item:nth-of-type(1) {
  font-size: 1.5rem; 
  flex-grow: .75;
  text-align: left;
  padding-left: 60px;
 
  a{
     color: #FF0066;
  }
}

.flex-item:nth-of-type(2) { 
  text-align: right;
  flex-grow: 2;
  padding-right: 20px;

  .selected{
    color:#FF0066;
  }

}

.flex-item:nth-of-type(3) { 
  flex-grow: 2;
  text-align: left;
  padding-left: 20px;

  .selected{
    color: #FF0066;
  }

}

.flex-item:nth-of-type(4) { 
  flex-grow: 1; 
  text-align: right;
  padding-right: 60px;
  padding-left: 15px;

  .selected {
    color: #FF0066;
  }
 
}


nav.follow {
    position:fixed; 
    top:0px; 
    background: white;  
    color:black; 
    text-shadow:none;
    width: 100%;
    height: 47px;
}

.flex-item.follow {
  padding: 0;
}



.main-screen {
  z-index: 98;
  margin-top: -75px;
  padding: 0;
  height: 104%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: 'Roboto';
  letter-spacing: .15em;
  
  
  h1{
   padding-top: 300px;
    }   

 h2{
    padding-bottom: 300px;
 }
  /*background: url('images/slash_it.png') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;*/
}


/*.container {
  width: 100%;
  height: 1200px;
  color:white;
  margin: 0;
  /*background: radial-gradient(rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.0) 0%),
    radial-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 0%),url("https://scontent-b-ord.xx.fbcdn.net/hphotos-xpa1/t31.0-8/135464_1806875974206_1535756_o.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:#00CC99;

  

  h1 {
    text-align: center;
    padding-top: 20px;
    color: white;
 }

.col-one {
    float:left;
    height: 100px;


    img {
    border: 5px solid #00CC99;
    height: 300px;
    width:50%;
  }
}

.col-two {
  float:left;
  margin-left:5%;
  
  p {
    text-align: center;
    border: 5px solid #00CC99;
    border-radius: 5%;
    padding: 10px;
    font-size: 16px;
    max-width: 600px;
    height: 500px;
    margin-left: 10px;
    background: #222222;
    float:left;
    }
        a{
        text-decoration: none;
        color: #FF0066;
        }

        img {
          border-radius: 100%;
        }
    }
}

.col-three {
  float:left;
   width: 200px;
  height: 200px;
  color:white;
}*/

/*******************
ABOUT
*********************/

.about-container {
    /*background-color:#00CC99;*/
    /*background: #484848;*/
    background:white;
    height: 2400px;

    h1 {
      color:white;
      text-align: center;
    }

  .container {
    width: 50%;
    float:left;
    margin: 0;

    img{
      background-size: cover;
      height: 40%;
      width: 100%;
      opacity: 0.8;
    }

    .col-one {
      color: white;
      background:#222222;

      p{
        margin:2%;
      }

      h3 {
        background:#00CC99;
        color:white;
        margin-bottom: 0;
        text-align: center;
        font-size: 30px;
      }

      .phone {
        height: 150px;
        width: 50%;
        background:#C2C2C2;
        float:left;

        img {
          height: 100px;
          width: 100px;
        }
      }

      .email {
        height: 150px;
        width: 50%;
        background:grey;
        float:left;

        img {
          height: 100px;
          width: 100px;
        }
      }
    }
  }

  .container-two {
    width: 50%;
    float:left;

    .col-two {
      float:left;
      height: 100px;
      width: 100%;
      background: white;

      img{
        width: 50px;
        height: 50px;
        text-align: center;
      }

      .icon-one{
        float:left;
        height: 100px;
        width: 25%;
        background-color:#808080;
      }

      .icon-two {
        height: 100px;
        float:left;     
        width: 25%;
        background-color: #C2C2C2;
      }

      .icon-three {
        background-color:#747474;
        height: 100px;
        width: 25%;
        float:left;
      }

      .icon-four {
        background-color:#C7C7C7;
        height: 100px;
        width: 25%;
        float:left;
      }
    }

    .col-three {
      background:#00CC99;
      color:white;

      h3 {
        text-align: center;
        font-size: 30px;
        margin:0;

        img {
          height: 30px;
          width: 30px;
          margin-left: 50px;
        }
      }

      img {
        width: 100%;
        float:left;
        opacity:0.5;
        margin-top:0;
      }
    }
  }
}

/**********************
PORTFOLIO
*************************/
.projects-container {
    height: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;  

   
img {  
    flex: 1 80%;
    margin:  20px 5px;
    height: 20em;
    width: 350px;

    }

    p {
        text-align: center;
        font-size: 20px;
    }

    button, a {
        text-decoration: none;
        border: 2px solid white;
        background: none;
        color: white;
        font-size: 16px;
        margin: 10px;
    }

.image-one  {
    position: relative;
    float:left;
}

.image-one  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-one:hover .after {
    display: block;
    background: #3399FF;
    width: 100%;
    }


.image-two  {
    position: relative;
    float:left;
}

.image-two  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-two:hover .after {
    display: block;
    background: #FF5050;
    width: 100%;
    }


.image-three  {
    position: relative;
    float:left;
}

.image-three  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-three:hover .after {
    display: block;
    background: #FFFF66;
    width: 100%;
    }


.image-four  {
    position: relative;
    float:left;
}

.image-four  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-four:hover .after {
    display: block;
    background:#9966FF;
    width: 100%;
    }
    .image-five {
    position: relative;
    float:left;
}

.image-five  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-five:hover .after {
    display: block;
    background:#00CC99 ;
    width: 100%;
    }
    .image-six  {
    position: relative;
    float:left;
}

.image-six  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-six:hover .after {
    display: block;
    background: #3399FF;
    width: 100%;
    }
    .image-seven  {
    position: relative;
    float:left;
}

.image-seven  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-seven:hover .after {
    display: block;
    background: #FF5050;
    width: 100%;
    }
    .image-eight  {
    position: relative;
    float:left;
}

.image-eight  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-eight:hover .after {
    display: block;
    background: #FFFF66;
    width: 100%;
    }

    .image-nine  {
    position: relative;
    float:left;
}

.image-nine  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-nine:hover .after {
    display: block;
    background: #9966FF;
    width: 100%;
    }
    .image-ten  {
    position: relative;
    float:left;
}

.image-ten  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-ten:hover .after {
    display: block;
    background: #FF3300;
    width: 100%;
    }
}